.container {
    max-width: 768px; 

    .containerBtn {
        display: flex;
        width: 450px;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .button {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 7px;
            margin: 5px;
            font-size: 16px;
            &.small {

                padding: 10px 14.4px;
            }

            &.green {
                background-color: green;
                color: black; 

                transition: 0.3s;

                &:hover {
                    background-color: rgb(2, 57, 2);
                }
            }

            &.red {
                background-color: red;
                color: white;
                transition: 0.3s;

                &:hover {
                    background-color: rgb(96, 9, 9);
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .container {
        .containerBtn {
            width: 320px;
            .button {
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 7px;
                margin: 3px;
                font-size: 10px;
                &.small {
                    padding: 10px 14.4px;
                }

                &.green {
                    background-color: green;
                    color: black; 
                }

                &.red {
                    background-color: red;
                    color: white; 
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .container {
        .containerBtn {
            width: 270px;
            .button {
                width: 20px;
                height: 20px;
                border: none;
                border-radius: 7px;
                margin: 3px;
                padding: 5px;
                font-size: 10px;
           
                &.small {
                    padding: 5px 5px;
                }

                &.green {
                    background-color: green;
                    color: black; 
                }

                &.red {
                    background-color: red;
                    color: white; 
                }
            }
        }
    }
}
